//component

//loader
#loading{
	background-color: $orange;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999;
	margin-top: 0px;
    top: 0px;
    transition: opacity 3s linear z-index .1s linear .3;
}
#loading.hide{
    z-index: -1;
    opacity: 0;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 80px;
	height: 80px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}

// title
%title{
    color: $titleColor;
    font-size: $titleFontSize;
    font-weight: $fontBold;
}
.section-title{
    @extend %title;
}
.page-title{
    @extend %title;
    text-transform: uppercase;

    @media(max-width: 599px){
        font-size: 14px;
    }

    .small-title{
        font-size: $smallTitleFontSize;
    }

}
//links

.link{
    font-size: $linkFontSizeDefault;
    color: $linkColor;
    padding: $defaultIndent 0;

        &.large-link{
            font-size: $linkLargeFont;

            @media(max-width: 599px){
                font-size: 14px;
            }
        }
        &:hover{
            color: $linkHoverColor;
        }
}
// button
.btn{
    padding: 12px 22px;
    font-size: $btnFontSize;
    color: $btnDefaultColor;
    border-radius: 2px;
    display: inline-block;

    @media(max-width: 599px){
        font-size: 16px;
    }

        & +.btn{
            margin-left: $defaultIndent;
        }
        &.btn-default{
            background-color: $btnDefaultBg;

            &:hover{
                background-color: $btnDefaultBgHover;
            }
        }
        &.btn-action{
             background-color: $btnActionBg;

            &:hover{
                background-color: $btnActionBgHover;
            }
        }
        &.btn-disabled{
            background: $btnDisableBg;
            cursor: not-allowed;

            &:hover{
                background: $btnDisableBgHover;
            }
        } 
}

//table

.table{
    border-collapse: collapse;
    font-size: $tableFontSize;
    
    &.full-width{
        width: 100%;

        .option-in-hover{
            opacity: 0;
            text-align: right;
            font-size: 18px;

            a{
                span{
                
                    color: #9c9c9c;

                    &:hover{
                        color: $orange;
                    }
                    &.icon-links{
                        margin-right: 23px;

                        @media(max-width: 480px){
                            margin: 10px;
                        }
                    }

                    &.icon-trash{
                        margin-right: 4px;
                    }
                }
            }

            @media (max-width: 480px){
                font-size: 14px;
            }
        }
    }

    tbody{

        tr{
            &:last-child{
                td{
                    border-bottom: 1px solid $lightGrey;
                }
            }
            &:hover{
                background-color: $tableTrHover;
            
                .option-in-hover{
                    opacity: 1;
                }
            }
        }
    }
    .table-sort{
        color: $grey;
        padding: 7px 10px;
        margin: -7px -10px;
        border-radius: 2px;
        cursor: pointer;

        span.in-hover{
                padding-left: 10px;
                opacity: 0;
                position: relative;
                top:-3px;
            }
        &:hover{
            background-color: $lightGrey; 
            color: $black;
            width: max-content;

            .in-hover{
                opacity: 1;
            }
        } 
    }
    tr{
        th{
            padding: 30px 18px;
            color: $grey;
        }
        td{
            border-top: 1px solid $lightGrey;
            padding: 18px;

            @media(max-width: 599px){
                padding: 12px;
            }
            @media(max-width: 480px){
                padding: 12px 8px;
            }

            &.td-title{
                color: $grey;
                font-size: 16px;

                @media(max-width: 599px){
                    font-size: 14px;
                }
                @media (max-width: 480px){
                    font-size: 12px;
                }
            }
        }

    }
}
.first-column{
    width: 30.5%;

    @media(max-width: 788px)  {
        width: 28%;
    }
    @media(max-width: 599px)  {
        min-width: 127px;
    }
}
.second-column{
    width: 29.5%;

    @media(max-width: 788px)  {
        width: 28%;
    }
    @media(max-width: 599px)  {
        min-width: 126px;
    }
}
.third-column{
    width: 25%;

    @media(max-width: 788px)  {
        width: 22%;
    }
    @media(max-width: 599px)  {
        min-width: 100px;
    }

}
.fourth-column{
    width: 15%;

    @media(max-width: 788px)  {
        width: 22%;
    }
    @media(max-width: 599px)  {
        min-width: 100px;
    }
}
//pagination

%activePaginationLink{
    background-color: $xsLightGrey;
    color: $darkGrey;
    border-radius: 2px;
}
.pagination{
    padding: $defaultIndent 0;
    li{
        display: inline-block;

        &.active{
            a{
                @extend %activePaginationLink;
            }
        }
        a{
            display: inline-block;
            padding: 13px $defaultIndent; 

            @media(max-width: 780px){
                padding: 10px;
            }

            &:hover{
                @extend %activePaginationLink;
            }
        }

        .hidden-in-xxs{
            @media(max-width: 599px){
                display: none;
            }
        }
        .hidden-in-xxxs{
            @media(max-width: 479px){
                display: none;
            }
        }
        .visible-in-xxs{
            display: none;
            padding: 10px 0;
    
            @media(max-width: 599px){
                display: inline-block;   
            }
        }
    }
}

//  color tab
.color-tabs{
    display: none;
}
.color-tab{
    padding: 12px 18px;
    display: flex;
    align-items: center;
    width: fit-content;

    &:hover{
        cursor: pointer;
        background-color: $tabBgHoverActive;
    }
    &:active{
        background-color: $tabBgHoverActive;
    }
    .circle{
       
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin-right: 12px;
    }

    span{
        font-size: $colorTabFontSize;
        color: $colorTabTextColor;
    }
    &+.color-tab{
        margin-left: 43px;
    }
}

// inputs

.form-control{
    padding: 6px $defaultIndent;
    color: $inputColor;
    border: 1px solid $inputBorderDefault;
    border-radius: 2px;
    width: 200px;
    font-family: $fontFamily;
	font-size: 14px;
	font-weight: $fontLight;
    height: 40px;

    &.text-input{
        font-family: $fontFamily;
        font-weight: $fontLight;
        font-size: $textareaFont;
        padding: 15px;
    }
    &:hover{
        cursor: pointer;
        color: $inputColorHover;
        border-color: $inputBorderHover;

    }
    &.disabled{
        color: $inputColorHover;
        border-color: $inputBorderDefault;
        background-color: $xsLightGrey;
    }
    &.invalid{
        border: 2px solid $red;
    }
}

//notifications 
.notification{
    line-height: $notificationLineHeight;
    padding: 12px 15px;
    color: $white;
    width: 266px;

    &.positive{
        background-color: $positiveNotificationBg;

        &:hover{
            cursor: pointer;
            background-color: $positiveNotificationBgHover;
        }
    }
    &.negative{
        background-color: $negativeNotificationBg;

        &:hover{
            cursor: pointer;
            background-color: $negativeNotificationBgHover;
        }
    }
}
//container

.container-fluid{
    padding: $defaultIndent;
}
.container-sm{
    max-width: 684px;
    margin: 0 auto;
    
    @media(max-width:991px){
            padding: 0 20px;
    }
    
}


.panel-container{
    padding: 40px 0;

    @media(max-width: 480px){
        flex-wrap: wrap;
    }
}

//header

.header{
    background-color: #fff;
    border-bottom: 1px solid $lightGrey;
    right: 0;
    left: 0;
    
    .container-fluid{
        padding: 0;
    }
    .user-info{
        padding: $defaultIndent;
        border-left: 1px solid $lightGrey;
        font-size: 20px;

        @media(max-width: 599px){
            font-size: 15px;
            padding: $defaultIndent 15px;
        }

        @media(max-width: 480px){
            padding: 10px;
            min-width: 40px;
            justify-content: center;
            align-items: center;
        }
        

        &.user-wallet{
            font-weight: $fontRegular;
            cursor: pointer;

            &:hover{

                @media(max-width: 480px){
                    span.money{
                        display: block;
                    }
                    span.icon-arrow-down{
                        display: block;
                    }
                }
            }

            span.icon-wallet{
                padding-right: 13px;
                margin-top: -2px;

                @media(max-width: 480px){
                    padding-right: 0;
                }
            }
            span.money{
                @media(max-width: 480px){
                    display: none;
                    padding-left: 10px;
                }
            }
            span.icon-arrow-down{
                padding-left: 14px;
                margin-top: -5px;

                @media(max-width: 480px){
                    padding-left: 8px;
                    display: none;
                }
            }
        }
        &.profile{

            @media(max-width: 480px){
                cursor: pointer;
            }
            span{
                padding-right: 10px;

                @media(max-width: 480px){
                    padding-right: 0;
                }
            }
            a.link{
                padding: 0;

                @media(max-width: 480px){
                    display: none;
                }
            }
            @media(max-width: 480px){
               &:hover{
                    a.link{
                        display: block;
                        padding-left: 10px;
                    }
                }
            }
            
        }
        &.link{
            flex-wrap: nowrap;
        }
    }
}

//aside
%activeLink{
    background-color: #282828;
    color: $white;
    border-left-color: $orange;
}
.aside{
    background-color: $asideBg;
    width: $asideWidth;
    height: 100vh;
    left: 0;
    z-index: 100;
    overflow-y: auto;

    .menu-control{
        padding: $defaultIndent;
    
        .menu-btn{
            cursor: pointer;

            span{
                display: block;
                width: 18px;
                height: 2px;
                background-color: $darkGrey;

                &+span{
                    margin-top: 5px;
                }
            }
        }
    }
    .aside-menu{
        ul{
            li{
                color: $darkGrey;

                &.active{
                    a{
                        @extend %activeLink;
                    }
                }
                a{
                    display: block;
                    padding: 14px;
                    font-size: 14px;
                    border-left: 4px solid transparent;
                    
                    .icon{
                        font-size: 17px;
                        margin-right: 15px;
                    }
                    .menu-link{
                    
                        @media(max-width: 480px){
                            font-size: 12px;
                        }
                    }
                    &:hover{
                        @extend %activeLink;
                    }
                }
            }
        } 
    }
}
.your-manager{
    padding: 27px $defaultIndent;
    border-top: 1px solid $darkGrey;

    .manager-info{
        margin-top: $defaultIndent;

        .manager-photo{
        position: relative;
        margin-right: 10px;

            .status{
                width: 11px;
                height: 11px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;

                &.online{
                    background-color: $green;
                }

                &.offline{
                    background-color: $red;
                }
            }
        }
        @media(max-width: 780px){
            margin-top: 0;
        }
    }
}

//content wrapper

.content-wrapper{
    padding: $defaultIndent;
    height: calc(100vh-60px);
    overflow-y: auto;
}
.panel{
    background-color: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
    &.links{
        .panel-body{
            padding: $defaultIndent 0;
        
        }
    }
    &+.panel{
        margin-top: $defaultIndent;
    }
    .panel-header{
        border-bottom: 1px solid $lightGrey;
        padding: $defaultIndent;
    }

    .panel-body{
        padding: 0 $defaultIndent;
    }
    .panel-form{
        padding: 40px 0;
        border-bottom: 1px solid $lightGrey;
        text-align: center;

        form{
            width: 455px;
            display: inline-block;

            .label-group{

                &:hover{

                    label{
                        color: #5a5a5b;
                    }
                }
                label{
                    font-weight: $fontBold;
                    font-size: 16px;
                    color: $inputColor;

                    @media(max-width: 599px){
                        font-size: 14px;
                    } 
                    @media(max-width: 480px){
                        margin-bottom: 5px;
                    } 
                    
                }
                &+.label-group{
                    margin-top: 15px;
                }
                .form-control{
                width: 310px;

                    @media(max-width: 599px){
                        width: 220px;
                    }
                    @media(max-width: 480px){
                        width: 200px;
                    }
                }
                @media(max-width: 480px){
                    flex-direction: column;
                }
            
               
            }
            @media(max-width: 599px){
                    width: 340px;
                } 
            @media(max-width: 480px){
                width: 190px;
            }  
        } 
        
    }
    .panel-footer{
        padding: 30px 0;
    }
    
}
.panel-date{
    padding: 35px 0;
    border-bottom: 1px solid $lightGrey;

}
.panel-list{
    width: 50%;
    
    li{
        border-bottom: 1px solid $lightGrey;
        padding: 20px 0 10px;
        font-size: 16px;

        @media(max-width: 768px){
            font-size: 14px;
        }

        span.list-name{
            color: #a6a6a6;
            font-weight: $fontBold;
        }
        span.list-amount{
            color: $black;
        }
    }
    &+.panel-list{
        margin-left: 60px;
    }

    @media(max-width: 480px){
        width: 100%;

        &+.panel-list{
            margin-left: 0;
        }
    }
}
//date input block
.datepicker-form{

    .date-input-wrap{
        padding: 4px;
        border: 1px solid $lightGrey;
        border-radius: 3px;
        display: inline-block;
    
        .date-control{
            padding: 10px 12px;
            font-family: $fontFamily;
            font-size: $fontSize;
            font-weight: $fontLight;
            vertical-align: middle;
        }
        #to{
            border-left: 1px solid $lightGrey;
            background: url(../img/calendar.svg) no-repeat 90%;
            background-size: 13px 13px;
        }
    }
    .btn{
        vertical-align: middle;
    }


    @media(max-width: 599px){
        display: flex;
        flex-wrap: nowrap;
        padding: 0 $defaultIndent;

        .btn{
            margin-left: 5px;
        }
        .date-control{
            width: 48%;
        }
    }
    @media(max-width: 480px){
        display: flex;
        flex-wrap: wrap;
    
        .btn{
            margin: 10px auto 0;
        }
        .date-control{
            width: 100%;
        }
        #from{
            background: url(../img/calendar.svg) no-repeat 90%;
            background-size: 13px;
        }
        .date-input-wrap #to{
            border-left: none;
            border-top: 1px solid $lightGrey;
        }
        
    }
}



//label group
.label-group{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

//chart 

.chart-wrap{
    padding: 35px 0;

    canvas#myChart{
        padding-top: 40px;

        @media(max-width: 599px){
            width: auto;
            height: auto;
            padding-top: 20px;
        }
        @media(max-width: 480px){
            width: 380px !important;
            height: 190px !important;
        }
    }
    .color-tabs{
        margin-top: 38px;
        margin-bottom: 75px;
    }
    .chart{
        @media(max-width: 480px){
            overflow-x: auto;
        }
    }
    
}

//modal

.modal{
    background-color: #fff;
    display: none;

    .modal-header{
        padding: 14px $defaultIndent;
        border-bottom: 1px solid $lightGrey;

        .icon-close{
            font-size: 18px;
            font-weight: $fontBold;
            color: $titleColor;
        }
    }
    .modal-body{
        padding: 25px $defaultIndent;
         
        &.top{
            border-bottom: 1px solid $lightGrey;

            .section-title{
                margin-bottom: $defaultIndent;
            }   
        }
        &.bottom{
            border-bottom: 1px solid $lightGrey;
        } 
    }

    .modal-footer{
        padding: $defaultIndent;

        .generate-links-form{
            justify-content: space-between;
            
            input{
                margin-right: 18px;

                @media(max-width: 599px){
                    margin-right: 0;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

        }
    }
}
//checkbox and radio btn
input{

    &[type="checkbox"]{
        display: none;

        &+label{
            font-size: 14px;
            color: $black;
            cursor: pointer;

            &::before{
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid $lightGrey;
                background-color: #fff;
                margin-right: 16px;
            }
        }

        &:checked{

            &+label{
                &::before{
                    background: $green url(../img/checkbox-bg.png) no-repeat center; 
                }
            }
        }
    }
}

//checkbox wrap
.checkbox-wrap{

    .checkboxes{
        padding-top: 30px;

        .scrollbar-inner{
            height: 150px;
            flex-wrap: wrap;
            padding-right: 20px;
        }
        .checkbox-group{
            padding: 12px;
            margin-right: 18px;

            &:hover{
                background-color: $xsLightGrey;

                .icon{
                    opacity: 1;
                }
            }
            .icon{
                opacity: 0;
                margin-left: auto;
            }

        }
    }
}

.postback{
    .panel-body{
        padding-top: 35px;
        padding-bottom: $defaultIndent;

        .top-part{
            span.postback-description{
                @media (max-width: 480px){
                    line-height: 20px;
                }
            }
            .textarea-group{
                width: 50%;

                .section-title{
                margin: 21px 0; 
                }
                textarea{
                    height: 185px;
                    width: 100%;
                    resize: none;

                    @media (max-width: 599px){
                        height: 100px;
                    }
                }
                &+.textarea-group{
                    margin-left: $defaultIndent;

                    @media (max-width: 599px){
                        margin-left: 0;
                    }
                }

                @media (max-width: 599px){
                    width: 100%;
                }
            }
        }
        .bottom-part{
    
            .select-group{
                flex-grow: 1;
                margin-bottom: 37px;

                @media(max-width: 599px){
                    margin-bottom: 20px;
                }

                .section-title{
                    margin: 21px 0; 
                }
                &+.select-group{
                    margin-left: $defaultIndent;

                    @media(max-width: 599px){
                        margin-left: 0;
                    }
    
                }
            }
            
        }  
        
    }
    .send-statuses-wrap{
        border-top: 1px solid $lightGrey;
        border-bottom: 1px solid $lightGrey;
        padding: 26px $defaultIndent 20px;

            .checkbox-wrap{
            width: 50%;

                .scrollbar-inner{
                    height: 178px;
                }
                    
                .section-title span{
                    font-size: 16px;
                    color: $red;     
                }
                &+.time-to-send{
                    margin-left: $defaultIndent;

                    @media(max-width: 599px){
                        margin-left: 0;
                    }
                }

                @media(max-width: 599px){
                    width: 100%;
                }
            }
            .time-to-send{
                width: 50%;
                padding-left: 11px;

                .section-title{
                    margin-bottom: 35px;
                }

                @media(max-width: 599px){
                    width: 100%;
                    margin-top: 40px;
                    margin-bottom: 60px;
                }
            }
        }
}

//range slider
.ui-slider-horizontal{
    height: 6px;
}
.ui-widget-header{
    background-color: #f58220;
}
.ui-widget.ui-widget-content{
    background: #e5e5e5;
}
#custom-handle{
    top: 13px;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 22px solid transparent;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom-color: $orange;
    height: 6px;
    background: none;
    transform: translateX(-25%);
    

    span{
        position: absolute;
        top: 39px;
        transform: translateX(-50%);
        width: max-content;

    }
    &:focus{
        outline: none;
    }
}

.modal{
    width: 1074px;

    .select-group{
        margin-left: 16px;

        &.language{
            flex-grow: 0;

            @media(max-width: 599px){
                margin-top: 20px;
            }
        }

        @media(max-width: 599px){
            margin-top: 20px;
        }
    }
    .input-group, .select-group{
        flex-grow:1;
        
        .form-control, .custom-select{
            width: 100%;
        }

        @media(max-width: 599px){
            width: 100%;
            margin-left: 0;
        }
    }
    .inline-selects{
        margin-top: 37px;

        .select-group{
            margin-left: 0;

            &+ .select-group{
                margin-left: 16px;

                @media(max-width: 599px){
                    margin-left: 0;
                }
            }

            @media(max-width: 599px){
                margin-top: 30px;
                width: 100%;
            }
        }
    }
    .modal-footer{
        .btn{
            padding: 9.5px 25px;  
            
            &.btn-disabled{
                padding-left: 54px;
                background: $btnDisableBg url(../img/link.png) no-repeat 13%;
                
            }
        }
    }
    @media(max-width: 1119px){
        width: 970px;
    }
    @media(max-width: 991px){
        width: 740px;
    }
    @media(max-width: 767px){
        width: 580px;
    }
    @media(max-width: 599px){
        width: 460px;
    }
    @media(max-width: 480px){
        width: 310px;
    }
}
#add-banners-modal{

    .modal-body{
        &.bottom{
            padding: 0;
        
            .checkbox-wrap{
                width: 50%;
                padding: $defaultIndent;
                
                &+.checkbox-wrap{
                    margin-left: $defaultIndent;
                    border-left: 1px solid $lightGrey;

                    @media(max-width: 5990px){
                        margin-left: 0;
                    }
                }
                .section-title{
                    margin-top: 12px;
                }            
                .scrollbar-inner{
                    height: 325px;

                    .checkbox-group{
                        width: 100%;
                    }
                }
                @media(max-width: 599px){
                    width: 100%;
                }
                
            }
        }
    }
}
#add-links-modal{

    .scrollbar-inner{
        height: 422px;

        .checkbox-group{
            width: 30%;

            @media(max-width: 767px){
                width: 45%;
            }
            @media(max-width: 599px){
                width: 95%;
            }
        }
    }

}

//dropdown

.dropdown-menu{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    top:100%;
    left: 0;
    li{
        color: $black;
        font-size: 16px;
        padding: 10px;
        padding-left: 20px;

        &:hover{
            color:#fff;
            background-color: $lightGrey;
        }
    }
}
.dropdown-wrap{
    position: relative;
    
}