// Guide style

.guide-wrap{
    padding: 20px;

        & > *{
            margin-bottom: 15px;
            margin-right: 18px;
        }

        &.range-slider-wrap{
            height: 100px;
        }
}
// main style

main{
    padding-left: $asideWidth;
    padding-top: 60px;
    
}

//table style

.links .table{
    margin: $defaultIndent 0;
}
.details .table{
    margin: 0;
}
.details .table tr th,
.payout .table tr th{
    padding: 38px 13px 22px;
    text-align: left;
}
.details .table tr td,
.payout .table tr td{
    padding: $defaultIndent 13px;
}

.datepicker-form .form-control{
    width:auto;
}
.detail .panel-body{
    padding-top: 10px;
}
.generate-links-form{
    .form-control{
        flex-grow:1;
        margin-right: 16px;
    }
}

//postback style
.postback {

    .panel-footer{
        padding: 22px;
    }
}
.indent-for-select{
    margin-bottom: 33px;
}

._mobileSidebar{
    main{
        padding-left: $sidebarMobileWidth;
    }
    .aside{
        width: $sidebarMobileWidth;
        overflow-y: visible;

        .logo{
            display: none;
        }
        .menu-control{
            justify-content: center;
        }
        .aside-menu{
            li{
                text-align: center;
                position: relative;

                &:hover{
                    .menu-link{
                        display: flex;
                    }
                }
            }
            a{
                .icon{
                    margin-right: 0;
                }
                .menu-link{
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    height: 100%;
                    min-width: 150px;
                    align-items: center;
                    padding-left: 20px; 
                    background-color: $black;
                }

            }
        }
    }
    .your-manager{
        padding-left: 5px;
        padding-right: 5px;
        .page-title{
            display: none;
        }
        .manager-info{
            justify-content: center;
            .manager-photo{
                margin-right: 0;
                img{
                    height: 40px;
                    width: 40px;
                }
            }
            .link{
                display: none;
            }
        }
    }
}