// text classes

.text-bold{
    font-weight: $fontBold;
}
.text-center{
    text-align: center;
}

.blue-bg{
    background-color: #80bfca;
}
.orange-bg{
    background-color: #ff9a38;
}
.green-bg{
    background-color: #59b66d;
}
.grey-bg{
    background-color: #f3f3f1;
}
//class position fixed
.fixed-to-top{
    position: fixed;
    z-index: 99;
    top:0;
}

//class flexbox

.flex-container{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-sb{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.wrap-in-mobile{
    @media(max-width: 599px){
        flex-wrap: wrap;
    }
}

.column-in-mobile{
    @media(max-width: 599px){
        display: flex;
        flex-direction: column;
    }
}
// mobile

.pagination li .hidden-in-xxs{
    @media(max-width: 599px){
        display: none;

    }
}
.pagination li .visible-in-xxs{
    display: none;
    
    @media(max-width: 599px){
        display: inline-block;
        
    }
}