// Font var

$fontFamily: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

// Color var
$black: #333;
$darkGrey: #979797;
$grey: #bababa;
$lightGrey: #e3e3e3;
$xsLightGrey: #f5f5f2;

$orange: #f58220;
$orangeLight: #ffa200;
$green: #04ae00;
$lightGreen: #74b67a;
$xsLlightGreen: #96cc9b;

$red: #ff0000;
$pink: #de5252;
$lightPink: #ec7171;
$blue: #56819f;
$white: #fff;

// default padding

$defaultIndent: 18px;

//component var

//link component
$linkColor: #56819f;
$linkColorLight: #ffa200;
$linkFontSizeDefault: 13px;
$linkLargeFont: 16px;
$linkHoverColor: #ffa200;


//title component
$titleColor: #a6a6a6;
$titleFontSize: 16px;
$smallTitleFontSize: 14px;

// btn component
$btnFontSize: 18px;
$btnDefaultColor: #fff;
$btnDefaultBg: $darkGrey;
$btnDefaultBgHover: $grey;
$btnActionBg: $orange;
$btnActionBgHover: $orangeLight;
$btnDisableBg: $lightGrey;
$btnDisableBgHover: $lightGrey;

//table component
$tableFontSize: 13px;
$tableTrHover:#f1f3f3;

//color tab

$colorTabFontSize: 16px;
$colorTabTextColor: #a6a6a6;
$tabBgHoverActive: #f3f3f1;

//inputs

$inputColor: #a6a6a6;
$inputColorHover: #333;
$inputBorderDefault: #e3e3e3;
$inputBorderHover: #b1b1b1;
$textareaFont: 12px;

//notification

$notificationLineHeight: 42px;
$positiveNotificationBg: #96cc9b;
$positiveNotificationBgHover: #74b67a;
$negativeNotificationBg: #ec7171;
$negativeNotificationBgHover: #de5252;
 
//aside component

$asideBg: #191919;
$asideWidth: 188px;